footer {

  justify-content: center;
  align-items: center;
  background: #000;
  width: 100%;
  color: white;
  position: absolute;
  bottom: -34vh;

  padding: 5em;

  .container {
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    grid-auto-rows: 1fr;
    grid-gap: 1em;    
    width: 100%;

    & > * {
      grid-column: span 2;
      align-self: center;
      justify-self: center;
  
    }
  }


  .nav {
    a {
      color: white;
      text-decoration: none;
      font-size: 1.2em;
    }

    li {
      padding: 1em 0;
    }
  }

  .social {
    font-size: 1.2em;
    text-align: center;
    line-height: 1.4em;

    a {
      color: white;
    }

    .icons{

      margin-bottom: 1em;

      svg {
        margin: 0 10px;
      }
    }
  }

  .logo {
    flex-direction: column;
  }
}
