// Fonts
@font-face {
  font-family: 'Enter the grid';
  src: url('~@/assets/fonts/enter_the_grid/Enter-The-Grid.ttf');
}

@font-face {
  font-family: 'Walkway';
  src: url('~@/assets/fonts/walkway/Walkway Bold.ttf');
}

@font-face {
  font-family: 'Walkway-Bold';
  src: url('~@/assets/fonts/walkway/Walkway Black.ttf');
}


* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Walkway', Arial, Helvetica, sans-serif;
}

// Vue transitions ----------------------

.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

/////////////////////////////////////////////////


h1 {
  text-align: center;
  margin-bottom: 3em;
  font-family: 'Enter the grid', Arial, Helvetica, sans-serif;
  font-size: 2em;
}

h2 {
  font-family: 'Enter the grid', Arial, Helvetica, sans-serif;
  font-size: 1.4em;
  line-height: 1em;
  letter-spacing: 1px;
}

p {
  margin-bottom: 2em;
  line-height: 1.5em;
}

// general styles
.d-flex {
  display: flex;
}

.d-grid {
  display: grid;
}

.fixed {
  position: fixed;
}

a.nav-link {
  color: #fff;
  text-decoration: none;
}

.content {
  section:nth-child(odd) {
    color: white;
    background-color: black;
  }
  section:nth-child(even) {
    color: black;
  }
}

section {
  min-height: 126vh;
  transform: skewY(4deg);
  justify-content: center;
  align-items: center;
  position: relative;
  top: -7vh;

  padding: 0 4rem;

  > * {
    transform: skewY(-4deg);
  }

  .icon-next {
    position: absolute;
    bottom: 25vh;
  }
}

@import 'nav';
@import 'sections';
