nav {
  padding: 10px 1em;
  justify-content: space-between;
  align-items: center;
  z-index: 800;
  width: 100%;

  figure {
    width: 70px;


    svg {
      width: 100%;

      path {
        transition: all ease .3s;
      }

      &.negative,
      &.positive {
        &:hover {
          path {
            transition: all ease .3s;
          }

          .container {
            fill: transparent;
          }
        }
      }

      &.negative {
        path {
          fill: rgb(255, 255, 255);
        }
        .container {
          fill: transparent;
        }

        &:hover path {
          fill: rgb(100, 100, 100);
        }
      }

      &.positive {

        path {
          fill: #000;
        }
        .container {
          fill: transparent;
        }

        &:hover path {
          fill: rgb(255, 255, 255);
        }
      }

    }
  }

  .menu {
    max-width: 25em;
    margin-right: 1em;

    ul {
      justify-content: space-between;
      align-content: center;
      font-size: 1em;

      li {
        padding: 1em;
        position: relative;
        justify-content: center;

        a {
          font: 1.2em 'Walkway-Bold', Arial, Helvetica, sans-serif;
        }

        &::after {
          content: "";
          position: absolute;
          width: 0;
          bottom: 0;
          border-top: 3px solid rgb(100, 100, 100);
          transition: width ease .3s;
        }

        &:hover {
          cursor: pointer;

          .nav-link {
            color: rgb(100, 100, 100);
            transition: all ease .3s;
          }

          transition: all ease .3s;

          &::after {
            width: 70%;
            transition: width ease .3s;
          }
        }
      }
    }
  }
}
